.messages {
	display: grid;
	grid-template-areas: "d c"
											 "d m";
	grid-template-columns: 0.3fr 1fr;
	grid-gap: 40px;
	margin: 40px auto;
	text-align: center;
}
.companion {
	border-right: 1px solid antiquewhite;
}

.messagesAdd {
	width: 100%;
	grid-area: m;
	grid-gap: 10px;
}

.messagesAdd textarea {
	width: 60%;
	height:100%;
	border-radius: 10%;
	border: 2px solid dodgerblue;
}

.messagesAdd button {
	width: 4%;
	height: 2.5%;
	font-size: 10px;
	text-align: left;
}