.header {
    grid-area: h;
    background-color: whitesmoke;
}
.header_img {
    width: 50px;
}
.auth_small {
    margin: 1% 3.5% auto auto;
    text-align: right;
}
.auth_small a {
    text-decoration: none;

}